<% content_for :page_title, "Articles" %>
<body style="background-color: #f7f5f5;">
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <p class="level-item"></p>
      </div>
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_article_path(@article), class: "button is-info is-small" %>
        </p>
        <p class="level-item">
          <%= link_to "Delete", article_path(@article), method: :delete, data:{ confirm: "Are you sure? "}, class: "button is-danger is-small" %>
        </p>
      </div>
    </nav>
    <div class="container" ><div class="content" >
    <h1 class="title is-2"><%= @article.title %></h1>
    <h6 class="subtitle is-6" style="text-align:right;"><%= @article.created_at %></h6>
    </div></div>
    <div class="container" ><div class="content" ><div class="notification" style="background-color:#f9fff8; color:#0a0a0a;overflow-wrap: break-word;">
      <%= raw @article.content %></div></div></div>
    <hr />
    <hr />
  </div>
</section>

<section class="comment">
  <div class="container">
    <h2 class="subtitle is-5"><strong><%= if @article.comments.length == 1
      @article.comments.length.to_s+" comment"
      else
      @article.comments.length.to_s+" comments"
      end
      %>
    </strong></h2>
    <%= render @article.comments %>
    <div class="comment-form" style="padding-bottom:200px">
      <hr />
      <h3 class="subtitle is-3">Leave a comment</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>
</body>
