<!DOCTYPE html>
<html style="background-color: #f7f5f5;">
  <head>
    <title>Ecotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #f7f5f5;">
  <section class="hero is-primary is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Ecotify
      </h1>
      <h2 class="subtitle">
        <%= yield :page_title %>
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-centered is-toggle">
      <div class="container">
        <ul>
          <% if (yield(:page_title) == "Articles") %>
          <li class="is-active"><a href="/articles/">Articles</a></li>
          <% else %>
          <li><a href="/articles/">Articles</a></li>
          <% end %>
          <% if (yield(:page_title) == "Lessons") %>
          <li class="is-active"><a>Lessons</a></li>
          <% else %>
          <li><a>Lessons</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

</section>


    <%= yield %>
  </body>
</html>
